In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('food-hygiene-ratings-website-traffic-january-2018-to-december-2018.csv')
df

           Date  Visits  UniqueVisitors  Pageviews
0    2018-01-01   10620            9575      45765
1    2018-01-02    8912            8061      42513
2    2018-01-03    9073            8074      42334
3    2018-01-04    9225            8290      46141
4    2018-01-05   14470           13253      74009
..          ...     ...             ...        ...
360  2018-12-27   12206           10905      51579
361  2018-12-28   13362           11994      57672
362  2018-12-29   14926           13519      64790
363  2018-12-30   13479           12252      57667
364  2018-12-31   14162           12725      61492

[365 rows x 4 columns]